body {
    height: auto;
    background-color:darksalmon ;
}

a {
    font-size: 1.5rem;
}

header {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
}

nav
{
    display: flex;
    justify-content: center;
    text-align: center;
}

nav div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

main {
    height: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main section article
{
    text-align: center;
}

main section article p {
    padding: 10px;
}

#example_images {
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

#contact_form_section {
    width: 50%;
    display: flex;
    justify-content: center;
}

#contact_form_section p {
    margin: 3px;
}

#contact_form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.main_image {
    width: 200px;
    height: 200px;
    margin: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    text-align: center;
}

footer p {
    margin: 4px;
}